*{
    margin:o;
    padding:0;
}
#grid{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.Header{
    position:fixed;
    height:100%;
    background-color: blanchedalmond;
    text-align: center;

}
.Main{
   margin-left:500px;
    background-color: #e8473c;
    padding:10px;
}
article{
    color:white;
}
h4,h5{
    display: inline;
}
h4{
    padding-right:200px;
}
iframe{
    border-radius: 5px;
}